.movie__title {
  cursor: pointer;
  font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
	color: #444444;
	display: inline-block;
}

.about__title {
  color: #f55263;
  display: inline-block;
}